<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {background-color: gray;}
        h1{text-align: center;}
        h2{text-align: center;}
        form{text-align: center;}
        </style>
    <title>ADMIN</title>
</head>
<body>
    <li><a href="/index">Home</a></li>
    <li><a href="/admin-login">Admin</a></li>
    <li><a href="/reserve">reserve</a></li>

    <form action="/" method="post">
    <h1>Welcome to the Admin page </h1>
    {% for row in rows %}
    <p>{{ row }}</p>
    {% endfor %}
    <h1>Total sales: {{sales_total}}</h1>

    <label for="username">User name:</label><br>
            <input type="text" id="username" name="username" value=""><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" value=""><br><br>
            <input type="submit" value="Confirm">
    </form>
</body>
</html>
