<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
</head>
<body>
    <li><a href="index.html">Home</a></li>
    <li><a href="admin-login.html">Admin</a></li>
    <li><a href="reserve.html">reserve</a></li>
    <h1>Admin Login</h1>
    <form action="/" method="post">
    <h1>printing seating chart......</h1>

    <h1>Total sales: </h1>
    <label for="user">User name:</label><br>
            <input type="text" id="user" name="user" value=""><br>
            <label for="lname">Password:</label><br>
            <input type="text" id="password" name="password" value=""><br><br>
            <input type="submit" value="Confirm">
    </form>
</body>
</html>