<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation System</title>
</head>
<body>
    <h1>Reservation System - Final Project</h1>
    <p>{{row1}}</p>
    <p>{{row2}}</p>
    <p>{{row3}}</p>
    <p>{{row4}}</p>
    <p>{{row5}}</p>
    <p>{{row6}}</p>
    <p>{{row7}}</p>
    <p>{{row8}}</p>
    <p>{{row9}}</p>
    <p>{{row10}}</p>
    <p>{{row11}}</p>
    <p>{{row12}}</p>
    <p>{{eticket}}</p>
    <p>{{totalSales}}</p>


</body>
</html>