<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {background-color: gray;}
        h1{text-align: center;}
        h2{text-align: center;}
        form{text-align: center;}
        
        </style>
    <title>IT 4320 Trip Reservation System</title>
</head>
<body>
    <li><a href="/index">Home</a></li>
    <li><a href="/admin-login">Admin</a></li>
    <li><a href="/reserve">reserve</a></li>
    <h1>Welcome to the IT 4320 Trip reservation system please select whether you need to make a reservation or login as admin </h1>
    <h2>Choose a menu option</h2>
    <form action="/" method="post">
        <select id="menu" name="menu">
            <option value="/admin-login">admin</option>
            <option value="/reserve">reservation</option>
        </select>
        <button type="submit">submit</button>
    </form>
</body>
</html>
